@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, white, black);
}
.container {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 10px 30px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.container .titre {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .titre::before {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, white, black);
}
.content form .formulaire {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .formulaire .input {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.formulaire .input input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.formulaire .input input:valid {
  border-color: rgba(0, 0, 0, 0.63);
}
form .button-sex .sexe-title {
  font-size: 20px;
  font-weight: 500;
}
form .categorie {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}
form .categorie label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
form .categorie label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
#dot-1:checked ~ .categorie label .one,
#dot-2:checked ~ .categorie label .two,
#dot-3:checked ~ .categorie label .three {
  background: black;
  border-color: #d9d9d9;
}
form input[type="radio"] {
  display: none;
}
form .button {
  height: 45px;
  margin: 35px 0;
}
form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, white, black);
}
@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
}
@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}
